{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-md-6">
      <!-- Heading Section -->
      <h1 class="text-white"><strong>Welcome to <i id="dinegate-logo" class="breathe-logo">DineGate</i>

</strong></h1>
      <h2 style="color:#ffffff">Browse restaurants, reserve a table, and enjoy your meal!</h2>

      <div class="mt-5">

        <!-- Search Form -->
<form class="d-flex mt-4" method="GET" action="{% url 'search_restaurant' %}">
  <input class="form-control me-2" type="text" name="query" placeholder="Search restaurants..." required>
  <button class="btn btn-dark" type="submit">Search</button>
</form>
      </div>


    </div>
    <br><br><br><br><br>    <br><br><br><br><br>
    <br><br><br><br><br><br><br><br>

  </div>

<!-- Link your script -->
<script src="{% static 'js/script.js' %}"></script>
</div>
{% endblock %}
