{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Sign Up as Customer</h2>

    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
            <div class="error">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="user_name">Username</label>
            <input type="text" name="user_name" id="user_name" class="form-control" placeholder="user_name" value="{{ form.user_name.value|default:'' }}">
        </div>

        <div class="form-group">
            <label for="user_email">Email</label>
            <input type="text" name="user_email" id="user_email" class="form-control" placeholder="user_email" value="{{ form.user_email.value|default:'' }}">
        </div>


        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" name="user_password" id="user_password" class="form-control" placeholder="user_password" value="{{ form.user_password.value|default:'' }}">
        </div>


        <div class="form-group">
            <label for="confirm_passsword">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" value="{{ form.confirm_password.value|default:'' }}">
        </div>


        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

    <div class="text-center mt-3">
        <p>Already have an account?</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    </div>
</div>
{% endblock %}
