{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>

<div class="profile-card-wrapper">
  <div class="profile-card-header">
    {% if restaurant.logo %}
      <img src="{{ restaurant.logo.url }}" class="profile-avatar-img" alt="Restaurant Logo">
    {% else %}
      <img src="{% static 'images/dp2.jpg' %}" class="profile-avatar-img" alt="Default Restaurant Logo">
    {% endif %}

    <div class="profile-card-user">
      <h2>{{ restaurant.restaurant_name }}</h2>
    </div>
  </div>

  <div class="profile-info-block" style="text-align: center;">
    <p><i class="fa fa-clock"></i> <b><i> {{ restaurant.s_time }} - {{ restaurant.e_time }}</b></i></p>
    <p><i class="fa fa-money"></i> <b><i>{{ restaurant.min_price }} to {{ restaurant.max_price }}</b></i></p>
    <p><i class="fa fa-map-marker"></i> <b><i> {{ restaurant.location }}</b></i></p>
    <p><i class="fa fa-phone"></i> <b><i> {{ restaurant.contact_no }}</b></i></p>
    <p><i class="fa fa-envelope"></i> <b><i> {{ restaurant.email }}</b></i></p>


  </div>
</div>
{% endblock %}
