{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="content-container">
  <div class="content-header">
    <h1 class="content-title" style="font-size:34px">Details</h1>
  </div>
</div>

<div class="container mt-4">
  {% if restaurants %}
  <div class="restaurant-profile-card mb-4">
    <div class="profile-left">
     {% if restaurants.logo %}
                <img src="{{ restaurants.logo.url }}" class="rounded-circle" width="300" height="300" alt="restaurant logo">
              {% else %}
                <img src="{% static 'images/dp2.jpg' %}" class="rounded-circle" width="300" height="300" alt="default restaurant logo">
              {% endif %}
    </div>
    <div class="profile-right">
      <h2 class="restaurant-name">{{ restaurants.restaurant_name }}</h2>
      <p><strong>Opening and closing time:</strong> {{ restaurants.s_time }} - {{ restaurants.e_time }}</p>
      <p><strong>Price:</strong> {{ restaurants.min_price }} to {{ restaurants.max_price }} </p>
      <p><strong>Address:</strong> {{ restaurants.location }}</p>
      <p><strong>Contact:</strong> {{ restaurants.contact_no }}</p>
      <p><strong>Email:</strong> {{ restaurants.email }}</p>
      <div class="profile-buttons">
        <a href="{% url 'view_menu' restaurants.id %}" class="btn btn-success" style="background-color:#004D40">View Menu</a>
        <a href="{% url 'search_table' restaurants.id %}" class="btn btn-success" style="background-color:#004D40">Book Now</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}