{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<h1 style="text-align: center; margin-bottom: 30px; color: #ffffff;">
  Details
</h1>
<div class="container mt-4">
  {% if restaurants %}
  <div class="restaurant-profile-card mb-4">
    <div class="profile-left">
      <img src="{{ restaurants.logo.url }}" alt="{{ restaurants.restaurant_name }}" class="restaurant-logo">
    </div>
    <div class="profile-right">
      <h2 class="restaurant-name">{{ restaurants.restaurant_name }}</h2>
      <p><strong>Slot:</strong> {{ restaurants.slot }}</p>
      <p><strong>Type:</strong> {{ restaurants.cuisine_types }}</p>
      <p><strong>Address:</strong> {{ restaurant.city }}, {{ restaurant.area }}, {{ restaurant.location }}</p>
      <p><strong>Space:</strong> {{ restaurants.space }}</p>
      <p><strong>Number of people:</strong> {{ restaurants.people_capacity }}</p>
      <p><strong>Contact:</strong> {{ restaurants.contact_number }}</p>
      <p><strong>Email:</strong> {{ restaurants.email }}</p>
      <p><strong>Price:</strong> {{ restaurants.min_price }} to {{ restaurants.max_price }} </p>
      <div class="profile-buttons">
       <a href="{% url 'view_menu' restaurants.restaurant_name %}" class="btn btn-primary" style="background-color: #004d4d; border-color: #004d4d;">View Menu</a>
        <a href="#" class="btn btn-primary" style="background-color: #004d4d; border-color: #004d4d;">Book Now</a>

      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}