{% extends 'base.html' %}

{% block content %} <br><br>

<div class="menu-container mt-5">
  <div class="content-container">
  <div class="content-header">
    <h1 class="content-title" style="font-size:30px">Menu</h1>
  </div>
</div>
  <hr>
  {% if restaurant %}
    {% if menu %}
      <div class="menu-grid">
        {% for item in menu %}
          <div class="menu-card">
            <h5 class="menu-item-name">
              <i class="fas fa-hamburger"></i> {{ item.item_name }}
            </h5>
            <p class="menu-item-detail">
              <i class="fas fa-utensils"></i> <strong>Cuisine:</strong> {{ item.cuisine }}
            </p>
            <p class="menu-item-detail">
              <i class="fas fa-tag"></i> <strong>Price:</strong> {{ item.price }}
            </p>
            <div class="d-flex justify-content-center gap-3 mt-3">
              <a href="{% url 'edit_menu_for_restaurant_owner' item.id %}" class="btn btn-secondary" style="background-color:#004D40">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a href="{% url 'delete_menu_for_restaurant_owner' item.id %}"class="btn btn-danger" style="background-color:#e53935">
                <i class="fas fa-trash-alt"></i> Delete
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center no-menu">No menu items available for this restaurant.</p>
    {% endif %}

<a href="{% url 'add_menu_for_restaurant_owner' restaurant.id %}" class="add-menu-button">
  <i class="fas fa-plus-circle"></i> Add Menu Item
</a>


{% endif %}

</div>
{% endblock %}