{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="width: 90%; margin: 0 auto;">
    <div class="content-container">
  <div class="content-header">
    <h1 class="content-title" style="font-size:28px">Upcoming Bookings</h1>
  </div>
</div>
  <br>
    {% if upcoming %}
      <div class="menu-wrapper">
        {% for booking in upcoming %}
          <div class="menu-item" style="background-color: #e3e4e3;width:15%">
            <h5 class="card-title" style="text-align:center">
              <i class="fas fa-user"></i> {{ booking.user.user_name }}</h5>
              <p class="card-title">
              <i class="fas fa-chair"></i> {{ booking.table.table_no }}
            </p>


            <p class="card-title">
              <i class="fas fa-calendar-day"></i> {{ booking.reserve_date }}
            </p>
            <p class="card-title">
              <i class="fas fa-clock"></i>  {{ booking.start_time }} - {{ booking.end_time }}
            </p>
            <p class="card-title">
              <i class="fas fa-info-circle"></i>  {{ booking.status }}
            </p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center" style="color: #ffffff"><b>No upcoming bookings.</b></p>
    {% endif %}
{% endblock %}