{% extends 'base.html' %}

{% block content %}
<div class="menu-container mt-5">
  <div class="content-container">
  <div class="content-header">
    <h1 class="content-title" style="font-size:34px">Table List</h1>
  </div>
</div>
  <hr>
  {% if restaurant %}
    {% if table %}
      <div class="menu-grid">
        {% for t in table %}
          <div class="menu-card">
            <h5 class="menu-item-name"><i class="fas fa-chair"></i> Table No: {{ t.table_no }}</h5>
            <p class="menu-item-detail"><i class="fas fa-calendar-day"></i> <strong>Date:</strong> {{ t.date }}</p>
            <p class="menu-item-detail"><i class="fas fa-clock"></i> <strong>Start Time:</strong> {{ t.start_time }}</p>
            <p class="menu-item-detail"><i class="fas fa-hourglass-end"></i> <strong>End Time:</strong> {{ t.end_time }}</p>
            <p class="menu-item-detail"><i class="fas fa-users"></i> <strong>Capacity:</strong> {{ t.no_of_people }}</p>
            <p class="menu-item-detail"><i class="fas fa-users"></i> <strong>Is available:</strong> {{ t.is_available }}</p>
            <div class="d-flex justify-content-center gap-3 mt-3">
              <a href="{% url 'edit_table_list_for_restaurant_owner' t.id %}" class="btn btn-secondary" style="background-color:#004D40">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a href="{% url 'delete_table_list_for_restaurant_owner' t.id %}" class="btn btn-danger" style="background-color:#e53935">
                <i class="fas fa-trash-alt"></i> Delete
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center no-menu" style="color:#ffffff">No tables are available.</p>
    {% endif %}

    <div class="text-center mt-4">
      <a href="{% url 'add_table_list_for_restaurant_owner' restaurant.id %}" class="add-menu-button">
        <i class="fas fa-plus-circle"></i> Add Table
      </a>
    </div>
  {% endif %}
</div>
{% endblock %}
